@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url("./fonts/IBMPlexSans-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;   
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;   
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;   
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;   
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;   
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;   
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;   
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;   
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;   
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;   
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;   
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;   
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;   
}
@font-face {
    font-family: "IBMPlexMono";
    src: url("./fonts/IBMPlexMono-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;   
}

body {
    margin: 0;
}
.header {
    padding: 20px 40px;
    position: relative;
    &__logo {
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: blue;
        color: white;
        text-align: center;
        line-height: 33px;
    }

    &__nav {
        display: inline-block;
        position: absolute;
        right: 60px;
        top: 20px;
        font-family: IBMPlexMono;
        &-item {
            color: #060A24;
            margin-right: 20px; 
            font-size: 16px; 
            cursor: pointer;
        }
    }
}
.main {
    display: flex;
    padding-bottom: 37px;
    justify-content: center;
    align-items: center;
    font-family: IBMPlexSans;
    &__title {
        font-size: 64px;
        margin-bottom: 0;
        font-weight: 400;
    }
    &__title-line {
        text-decoration: line-through;
    }
    &__title-point {
        color: blue;
    }   
    &__title-parrafo {
        font-family: IBMPlexMono;
        font-size: 16px;
        max-width: 608px;
        margin-top: 0;  
        margin-bottom: 50px;
    }
    &__title-button {
        background-color: #00F3BB;
        border: none;
        font-size: 18px;
        width: 226px;
        height: 56px;
        font-family: IBMPlexMono;
        font-weight: 500;
        color: #060A24;
        cursor: pointer;
        &:hover {
            background-image: linear-gradient(pink, hotpink);
        }
    }
}
.episodes {
    background: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 35%);
   height: 1042.6px;
   clip-path: polygon(0% 14%, 100% 0%, 100% 86%, 0% 100%);
   &__content {
       padding: 150px 100px 50px 100px;
   }
    &__title {
        color: white;
        font-family: IBMPlexSans;
        font-size: 48px;
        padding-left: 93px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    &__row {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
    }
}
.extra-info {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding: 5px 200px 214px 200px;
    &__img-phone {
        max-width: 400px;
        position: absolute;
        top: -187px;
        left: 230px;
    }
    &__container {
        max-width: 464px;
    }
    &__title-one {
        font-family: IBMPlexSans;
        color: #060A24;
        font-size: 48px;
        font-weight: 400;
        margin-top: 0;
    }
    &__paragraph-one {
        font-family: IBMPlexMono;
        color: #060A24;
    }
}
.photos {
    width: 100%;
    &__title-two {
        font-family: IBMPlexSans;
        font-size: 48px;
        color: #060A24;
        padding-left: 200px;
    }
    &__the-six {
        display: flex;
    }
    &__the-sixx {
        display: flex;
    }
    &__six {
        width: 33.3%;
    }
}
.icons {
    padding: 36px 0;
    &__title {
        font-family: IBMPlexSans;
        font-size: 48px;
        padding-left: 200px;
        font-weight: 400;
    }
    &__four {
        display: flex;
        align-items: baseline;
        font-family: IBMPlexSans;
        color: #060A24;
        font-size: 21px;
        padding: 20px 206px;
        font-weight: bolder;
        justify-content: space-around;
        &-title {
            max-width: 150px;
        }
        &-content {
            text-align: center;
        }
    }
}
.news {
    background: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 35%);
    clip-path: polygon(0% 29%, 100% 0%, 100% 100%, 0% 100%);
    height: 519px;
    &__content {
        padding: 176px 100px 50px 100px;
        text-align: center;
    }
    &__title{
        font-family: IBMPlexSans;
        color: #ffffff;
        font-size: 48px;
        text-align: center;
        font-weight: 400;  
    }
    &__title-epi {
        background-color: #00F3BB;
        border: none;
        font-size: 18px;
        width: 350px;
        height: 56px;
        font-family: IBMPlexMono;
        font-weight: 500;
        color: #060A24;
        cursor: pointer;
        &:hover {
            background-image: linear-gradient(pink, hotpink);
            color: white;
        }
    }
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    &__copy {
        font-family: IBMPlexMono;
        font-size: 16px;
        color: #060A24;
        &-anchor {
            margin-right: 30px;
            color: black;
        }
    }
}



